RewriteEngine on

RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond $1 !^(index\.php|css|foro|less|js|img|fonts)
RewriteRule ^(.*)$ index.php/$1 [L]

